body {
	background-color: #FDB;
	color: #636;
	font-family: 'Courier Prime Bold', monospace;
	margin: 0;
	padding: 0;
	/* font-family: 'Grenette'; */
	font-weight: 400;
	/* font-size: 4px; */
	line-height: 58px;
	letter-spacing: -0.02em;
	width: 100%;
}

header {
	padding: 20px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo a {
	text-decoration: none;
	color: #636;
	font-size: 20px;
}

.navigation a {
	text-decoration: none;
	color: #636;
	margin-left: 10px;
}

.navigation img {
	width: 20px;
	height: 20px;
}

.container {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.left-side {
	width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-side {
	width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.co-founder-container {
	display: flex;
	justify-content: center;
	/* font-weight: 400; */
	font-size: 25px;
  }
  
  .co-founder {
	text-align: center;
	margin: 10px;
  }
  
  .co-founder img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
  }
  
  .co-founder h3 {
	margin-top: 10px;
  }
  
  .co-founder p {
	margin-top: 5px;
  }

  .people_links img {
	width: 40px;
	height: 40px;
  }
  


